.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #669d3c;
}

header a {
  font-family: "Montserrat" sans-serif;
}

a {
  color: #2c5d63;
  margin: 20px;
  text-decoration: none;
  font-family: "Kanit";
  font-weight: 2000;
}

.body {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  background-size: cover;
  font-family: "Kanit" sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  min-width: 175px;
}

nav a {
  padding: 30px;
  margin: 0;
  margin-right: 45px;
}

nav a:hover {
  background-color: #f6eec1;
  color: #2c5d63;
}

p {
  font-family: "Montserrat" sans-serif;
}

.me-pic {
  overflow: hidden;
  max-height: 750px;
  min-width: 500px;
}

footer {
  background-color: #404f24;
}
